body {
    font-family: Roboto; 
    border-radius: 20px;
    width: 800px;
    margin: 0
}

@media screen and (min-widh-768px){
    .about {
background: none;
    }
}
.about{
    text-decoration: none;
    text-align: right;
    font-size: 10px;
    color: rgb(83, 79, 79);
    word-spacing: 2px;
    padding: 0 50 px;
    padding-right:5px
}
.media {
    display: flex;
    align-items: flex-start;
    background: white;
    padding: 1em;
    border-radius: 3px;
    max-width: 300em;
  }
  .media-object {
    margin-left: 1em;
    order: 1;
    width: 400px;
    height: 400px;
  }
  .media-body {
    flex: 1;
  }
  .media-heading {
    margin: 0 0 .5em;
  }
  .Paragraf1{
    font-size: 13px;
    font-family: Actor;
  }
  .buttonSection {
    background-color: white;
        padding: 13px;
        padding-left: 30px;
        padding-right: 30px; 
        border-radius: 20px; 
        border-top-color: rgb(243, 128, 13);
        border-left-color:rgb(226, 69, 164);
        border-right-color:rgb(137, 178,101) ;      
        border-bottom-color:rgb(243, 128, 13);

  }
  .gradientBackground{
    background-image: url(./Photos/background.svg);
    width: 80%;
    height: 150px;
    padding-inline: 30px;
    padding-left: 50px;
    padding-top: 30px;
    border-radius: 10px;
  }
  .headingStyle {
    font-family: Actor;
  }
.Logo {
   display: inline-flex; 
   padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px; 
    width: 30px;
    height: 30px;
}
.auction h1{
    font-weight: 400;
}
.auction a{
    font-weight: 600;
    color: rgb(85, 84, 84);
}
.auction a:hover{
    color: blueviolet;
    text-decoration: none;
}

.NTT-cards {
    padding-left: 350px;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    gap: 50px; 
}  
.nft .container1 {
    background-color: rgb(224, 224, 224);
    width: 400px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.NTF-cards .container2 div {
    padding: 10px 20px;
}
.NTF-cards .container2 img{
    width: 400px;
}
.NTF-cards .container2 div h4 , h1, p{
    margin: 10px;
}
.NTF-cards .container2 div img{
    width: 15px;
    padding-right: 10px;
}
.nft .invisible{
    display: none;
}
.FooterAbout {
    width: 5000px;
    height: 30px;
    justify-content: center;
    text-align: center;

}
.footer {
    display: block;
  
    text-align: left;
    font-size: 10px;
margin: 5px;
padding: 10px;
justify-content: center;
    }
    
